@import "../../styles/variables.module.scss";
@import "../../styles/animations.module.scss";

.heroSection {
  background: $dark-gray url("../../public/padraoFundo.png");
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid $light-turquoise;
  height: 100vh;

  @media only screen and (max-width: $phone) {
    border-top: 10px solid $light-turquoise;
    & img {
      width: 80%;
    }
  }

  & .content {
    display: flex;
    flex-flow: column;

    justify-content: center;
    align-items: center;
    flex-grow: 4;
    @media only screen and (max-width: $phone) {
      flex-grow: 9;
    }
  }

  .callToAction {
    flex-grow: 1;
    color: $light-turquoise;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
    animation-name: jumping;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;

    & .arrow {
      text-align: center;
      transform: rotate(90deg);
      margin-top: .6rem;
    }
  }
}
