@import "../../styles/variables.module.scss";

.aboutUs {
  display: flex;
  padding: 10.25rem 5.6rem;

  & .ourHistory {
    flex-grow: 1;
    max-width: 50%;
    line-height: 3rem;
    padding: 2.7rem 1rem 6rem 1rem;
    background-color: $light-brow;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    border-radius: 0px 0px 0px 11.18rem;
    & h1 {
      font-size: 1.5rem;
      margin-bottom: 2.1rem;
    }
    & .txtBox {
      max-width: 30rem;
      text-align: justify;
      text-indent: 50px;
      & p:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }

  & .composition {
    max-width: 50%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    & .squareElement {
      margin-left: 10rem;
      background-color: $light-turquoise;
      height: 21.5rem;
      width: 18.75rem;
      position: relative;
      & img {
        position: absolute;
        width: 17rem;

      }
      & .storeFront{
        top: -30%;
        left: 30%;
      }
      & .couple{
        top: 40%;
        left: -30%;
      }
    }
  }
}
