@import "../../styles/variables.module.scss";

.contacts {
  padding: 5rem 5.6rem;
  background-color: #80d3c3;

  & h1 {
    text-align: center;
    margin-bottom: 3rem;
  }

  & .contactsBlocksWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    & .right {
      border-left: 10px solid $dark-gray;
    }
    @media only screen and (max-width: $phone) {
      flex-flow: column;
    }

    cursor: pointer;

    & .contactElement {
      text-decoration: underline;
      display: flex;
      justify-content: start;
      align-items: center;
      max-width: 15rem;
      margin: 3rem 0rem;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.1);
        color: $light-brow;
        text-decoration: none;
      }
      & img {
        margin-right: 2rem;
      }
    }
  }
}
