@import "../../styles/variables.module.scss";

.howItWorks {
  padding: 10.25rem 0rem;

  @media only screen and (max-width: $phone) {
    padding: 6rem 1rem 8rem 1rem;
  }
  & h1 {
    text-align: center;
    margin-bottom: 10.1rem;
    @media only screen and (max-width: $phone) {
      margin-bottom: 5rem;
    }
  }
  & .instruction {
    display: flex;
    margin-bottom: 12rem;
    justify-content: center;

    &.odd {
      flex-direction: row-reverse;
    }

    & .textInstructionWrapper {
      flex-grow: 1;
      max-width: 50%;
      background-color: $light-brow;
      padding: 3em 5.5rem 5.5rem 5.5rem;
      min-width: 26rem;

      @media only screen and (max-width: $phone) {
        min-width: 100%;
        padding: 1em;
        
      }
      & h2 {
        font-size: 1.5rem;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 2.5rem;
      }

      & p {
        line-height: 2rem;
        text-indent: 50px;
        text-align: justify;
      }

      &.even {
        border-radius: 0px 0px  11.18rem 0px  ;
        flex-direction: column-reverse;
        @media only screen and (max-width: $phone) {
          border-radius: 0px 0px 0px 0rem;
        }
      }

      &.odd {
        border-radius:  0px 0px  0px 11.18rem;
        background-color: $dark-gray;
        color: $light-brow;
        @media only screen and (max-width: $phone) {
          border-radius: 0px 0px 0px 0rem;
        }
      }
    }
    & .imgInstructionWrapper {
      position: relative;
      flex-grow: 1;
      max-width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      @media only screen and (max-width: $phone) {
        display: none;
      }

      & .composition {
        width: 227px;
        height: 340px;
        position: relative;
        & .compositionElementLeft {
          background-color: $dark-gray;
          position: absolute;
          width: 227px;
          height: 340px;
          top: -15%;
          left: 20%;
          border-radius: 0px 5rem 0px 0px;
        }
        & .compositionElementRight {
          background-color: $light-turquoise;
          position: absolute;
          top: 15%;
          left: -20%;
          width: 227px;
          height: 340px;
          border-radius: 0px 0px 0px 5rem;
        }

        & img {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}
