@import "../../styles/variables.module.scss";
@import "../../styles/animations.module.scss";

.loadingWrapper {
  height: 100vh;
  width: 100vw;
  background-color: $dark-gray;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid $light-turquoise;

  @media only screen and (max-width: $phone) {
    & img {
      width: 80%;
    }
  }
}

.loadedWrapper {
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
  transform: translateY(-100vh);
}

.logo {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
  width: 654px;
}
